<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MyKey"
             connectionString="Data Source=DESKTOP-HTKKMI2;Initial Catalog=LibabryDB;"
             providerName="System.Data.SqlClient"/>
		
	</connectionStrings>
	<appSettings>
		<add key="DailyFees" value="1000"/>
		<add key="OverTimeDailyFees" value="2000"/>
		<add key="MaxDate" value="7"/>
	</appSettings>
	
</configuration>